.no-pressed-color,
.no-pressed-color:focus,
.no-pressed-color:not(:disabled):not(.disabled):active {
  color: #000;
  background-color: transparent;
}

.accordion-item,
.accordion-header {
  border: 1px solid #000;
  border-radius: 5px;
}
