<div class="container mt-4">
  <h1 class="text-center">Condiciones de Uso</h1>
  <div>
    Bienvenido(a) a VocabMaster, la plataforma de aprendizaje de idiomas, un
    espacio diseñado para mejorar tus habilidades lingüísticas de manera
    divertida y educativa. Al utilizar esta plataforma, aceptas los términos y
    condiciones que se detallan a continuación. Por favor, lee detenidamente y
    asegúrate de comprender estos términos antes de utilizar nuestros servicios.
  </div>

  <div class="accordion mt-4" id="accordionCondicionesDeUso">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection1">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection1"
          aria-expanded="true"
          aria-controls="collapseSection1"
        >
          Público General
        </button>
      </h2>
      <div
        id="collapseSection1"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection1"
        data-bs-parent="#accordionSection1"
      >
        <div class="accordion-body bg-amarillo">
          Nuestra plataforma está destinada a personas de todas las edades que
          buscan mejorar sus habilidades en diferentes idiomas. Al acceder y
          utilizar nuestra plataforma, reconoces que eres apto para utilizarla
          según las leyes y regulaciones locales aplicables.
        </div>
      </div>
    </div>

    <!-- Sección 2: Propiedad y Proyecto de Fin de Grado -->

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection2">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection2"
          aria-expanded="true"
          aria-controls="collapseSection2"
        >
          Propiedad y Proyecto de Fin de Grado
        </button>
      </h2>
      <div
        id="collapseSection2"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection2"
        data-bs-parent="#accordionSection2"
      >
        <div class="accordion-body bg-amarillo">
          Esta aplicación es propiedad de Ignacio Planas Thiriet, desarrollada
          como parte de un proyecto de fin de grado en la Universidad de
          Sevilla. La plataforma está diseñada para brindarte una experiencia
          educativa enriquecedora y entretenida.
        </div>
      </div>
    </div>

    <!-- Sección 3: Comportamiento Respetuoso y Uso Adecuado -->

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection3">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection3"
          aria-expanded="true"
          aria-controls="collapseSection3"
        >
          Comportamiento Respetuoso y Uso Adecuado
        </button>
      </h2>
      <div
        id="collapseSection3"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection3"
        data-bs-parent="#accordionSection3"
      >
        <div class="accordion-body bg-amarillo">
          Al usar nuestra plataforma, aceptas comportarte de manera respetuosa y
          seguir las normas de comunidad establecidas. No se permite el uso
          incorrecto de la aplicación, incluyendo cualquier forma de
          comportamiento ofensivo, difamatorio, abusivo o ilegal. Estás
          comprometido(a) a contribuir a un entorno positivo y respetuoso para
          todos los usuarios.
        </div>
      </div>
    </div>

    <!-- Sección 4: Uso Inapropiado y Cancelación de Cuenta -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection4">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection4"
          aria-expanded="true"
          aria-controls="collapseSection4"
        >
          Uso Inapropiado y Cancelación de Cuenta
        </button>
      </h2>
      <div
        id="collapseSection4"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection4"
        data-bs-parent="#accordionSection4"
      >
        <div class="accordion-body bg-amarillo">
          Cualquier usuario que amenace, acose o insulte a otros usuarios a
          través de la información proporcionada en su perfil, mazos u otras
          fuentes puede tener su cuenta cancelada. Nos reservamos el derecho de
          tomar medidas si determinamos que el uso de la aplicación está siendo
          inapropiado o perjudicial para la comunidad.
        </div>
      </div>
    </div>

    <!-- Sección 5: Limitación de Responsabilidad -->

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection5">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection5"
          aria-expanded="true"
          aria-controls="collapseSection5"
        >
          Limitación de Responsabilidad
        </button>
      </h2>
      <div
        id="collapseSection5"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection5"
        data-bs-parent="#accordionSection5"
      >
        <div class="accordion-body bg-amarillo">
          Esta plataforma se proporciona "tal cual" y "según disponibilidad". No
          garantizamos la exactitud, integridad o actualidad de los contenidos.
          No seremos responsables por cualquier error, interrupción, pérdida de
          datos o daños resultantes del uso de la plataforma. Cualquier decisión
          que tomes basada en la información proporcionada aquí es bajo tu
          propio riesgo.
        </div>
      </div>
    </div>

    <!-- Sección 6: Cambios en las Condiciones -->

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection6">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection6"
          aria-expanded="true"
          aria-controls="collapseSection6"
        >
          Cambios en las Condiciones
        </button>
      </h2>
      <div
        id="collapseSection6"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection6"
        data-bs-parent="#accordionSection6"
      >
        <div class="accordion-body bg-amarillo">
          Nos reservamos el derecho de modificar estas condiciones en cualquier
          momento. Si se realizan cambios sustanciales, te notificaremos por
          correo electrónico para informarte sobre las actualizaciones. Es tu
          responsabilidad revisar periódicamente estas condiciones para estar al
          tanto de cualquier cambio.
        </div>
      </div>
    </div>
  </div>

  <br />
  <div>
    Al utilizar nuestra plataforma, aceptas cumplir con estas condiciones de
    uso. Si no estás de acuerdo con alguno de los términos establecidos aquí, te
    recomendamos que no utilices nuestros servicios. Si tienes alguna pregunta
    sobre estas condiciones, contáctanos en la dirección de correo electrónico
    proporcionada en nuestra plataforma.
  </div>

  <br />
  <h1 class="text-center">Politica de privacidad</h1>

  En esta Política de Privacidad, se describe cómo se recopilan, utilizan y
  protegen los datos personales de los usuarios en nuestra plataforma de
  VocabMaster.
  <div class="accordion mt-4" id="accordionPrivacyPolicy">
    <!-- Sección 7: Uso de Datos -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection7">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection7"
          aria-expanded="true"
          aria-controls="collapseSection7"
        >
          Uso de Datos
        </button>
      </h2>
      <div
        id="collapseSection7"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection7"
        data-bs-parent="#accordionPrivacyPolicy"
      >
        <div class="accordion-body bg-amarillo">
          Los datos personales que recopilamos se utilizan para personalizar la
          experiencia del usuario y proporcionar un perfil público. Utilizamos
          estos datos para adaptar el contenido y la interacción en función de
          las preferencias individuales de cada usuario.
        </div>
      </div>
    </div>

    <!-- Sección 8: Compartir Datos -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection8">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection8"
          aria-expanded="true"
          aria-controls="collapseSection8"
        >
          Compartir Datos
        </button>
      </h2>
      <div
        id="collapseSection8"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection8"
        data-bs-parent="#accordionPrivacyPolicy"
      >
        <div class="accordion-body bg-amarillo">
          Aseguramos a nuestros usuarios que no compartimos los datos
          recopilados con terceros y cómo manejamos la confidencialidad de la
          información.
        </div>
      </div>
    </div>

    <!-- Sección 9: Seguridad -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection9">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection9"
          aria-expanded="true"
          aria-controls="collapseSection9"
        >
          Seguridad
        </button>
      </h2>
      <div
        id="collapseSection9"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection9"
        data-bs-parent="#accordionPrivacyPolicy"
      >
        <div class="accordion-body bg-amarillo">
          Describimos las medidas que tomamos para proteger los datos de los
          usuarios, incluido el almacenamiento seguro y el cifrado de
          contraseñas.
        </div>
      </div>
    </div>

    <!-- Sección 10: Derechos del Usuario -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection10">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection10"
          aria-expanded="true"
          aria-controls="collapseSection10"
        >
          Derechos del Usuario
        </button>
      </h2>
      <div
        id="collapseSection10"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection10"
        data-bs-parent="#accordionPrivacyPolicy"
      >
        <div class="accordion-body bg-amarillo">
          Los usuarios tienen derecho a acceder, corregir y eliminar sus datos
          personales. Pueden solicitar el acceso a sus datos personales a través
          de su perfil en la plataforma. Si desean eliminar sus datos, pueden
          enviar un correo electrónico a ignplathi@alum.us.es y se tomarán las
          medidas necesarias.
        </div>
      </div>
    </div>

    <!-- Sección 11: Cookies y Tecnologías Similares -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection11">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection11"
          aria-expanded="true"
          aria-controls="collapseSection11"
        >
          Cookies y Tecnologías Similares
        </button>
      </h2>
      <div
        id="collapseSection11"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection11"
        data-bs-parent="#accordionPrivacyPolicy"
      >
        <div class="accordion-body bg-amarillo">
          Utilizamos cookies y tecnologías de seguimiento proporcionadas por
          Google para la autenticación de inicio de sesión con Google. Estas
          tecnologías pueden recopilar datos de uso, pero no recopilamos ni
          almacenamos información adicional mediante estas cookies.
        </div>
      </div>
    </div>

    <!-- Sección 12: Cambios en la Política -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSection12">
        <button
          class="accordion-button bg-verde no-pressed-color"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSection12"
          aria-expanded="true"
          aria-controls="collapseSection12"
        >
          Cambios en la Política
        </button>
      </h2>
      <div
        id="collapseSection12"
        class="accordion-collapse collapse"
        aria-labelledby="headingSection12"
        data-bs-parent="#accordionPrivacyPolicy"
      >
        <div class="accordion-body bg-amarillo">
          Nos reservamos el derecho de modificar esta Política de Privacidad en
          cualquier momento. Los cambios significativos se notificarán a los
          usuarios por correo electrónico antes de que entren en vigencia. Se
          recomienda a los usuarios revisar regularmente esta política para
          mantenerse informados sobre cómo se manejan sus datos.
        </div>
      </div>
    </div>
  </div>
  <br />
  <div>
    Si tienes alguna pregunta sobre nuestra Condiciones de Uso o Política de
    Privacidad, puedes ponerte en contacto con nosotros a través de la dirección
    de correo electrónico proporcionada en nuestra plataforma.
  </div>
  <br />
  <div>Fecha de entrada en vigencia: 11/08/2023</div>
  <br />
  <div>Última actualización: 11/08/2023</div>
</div>
