<div [@fadeInOut] class="container-fluid">
  <br />
  <div class="div-img-inicio">
    <img
      class="img-responsive img-inicio"
      src="../../../../assets/images/inicio.jpg"
      alt="hola en diferentes idiomas"
      width="949"
      height="431"
    />
  </div>
  <br />
  <div class="h3 text-center">
    VocabMaster: tu aplicación de aprendizaje de idiomas
  </div>
  <div class="h5 text-center">
    TFG de Ignacio Planas Thiriet - Universidad de Sevilla
  </div>
  <div class="h5 text-center">Tutorizado por Victor Jesús Díaz Madrigal</div>

  <br />
  <hr class="w-75 mx-auto" />
  <br />

  <div class="row justify-content-center">
    <div class="col-12 col-sm-9">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="card border-0 w-100">
            <div class="text-center pt-2">
              <i class="fa-regular fa-clone fa-2xl"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Creación de mazos</h5>
              <p class="card-text">
                La aplicación permite crear mazos personalizados con el
                vocabulario deseado
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="card border-0 w-100">
            <div class="text-center pt-2">
              <i class="fa-solid fa-gamepad fa-2xl"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Juego flashCards</h5>
              <p class="card-text">
                La aplicación permite usar el juego flashCards para aprender el
                vocabulario
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="card border-0 w-100">
            <div class="text-center pt-2">
              <i class="fa-solid fa-chart-line fa-2xl"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Observa tu progreso</h5>
              <p class="card-text">
                Con esta aplicación puedes ver el estado de tu aprendizaje para
                cada mazo
              </p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="card border-0 w-100">
            <div class="text-center pt-2">
              <i class="fa-solid fa-users fa-2xl"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Comunidad</h5>
              <p class="card-text">
                Explora la comunidad en busca de mazos ya creados por otros
                usuarios!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
